.header {
position: absolute;
  display: flex;
  align-items: center;

  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  max-width: 1330px;
  height: 110px;

  margin: 0 auto;
  border-bottom-right-radius: 15px;

  background: white;
  box-shadow: 0px 4px 4px 0px #00000040;

  border-bottom-left-radius: 15px;
  padding: 12px 12px 36px 12px;
  z-index: 1000;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.logotype {
  margin: 0 75px;
  transform: translateY(-4px);
}

.navigationButton {
  all: unset;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: #ef8e01;
  }
}

.navigationButton + .navigationButton {
  margin-left: 35px;
}