.title {
  margin: 8px 0 50px 0;

  @media (max-width: 600px) { 
    font-size: 30px !important;
    margin: 8px 0 24px 0;
  }
}

.logotype {
  @media (max-width: 600px) { 
    width: 137px;
    height: 27px;
  }
}

.description {
  padding-bottom: 24px;
  margin-bottom: 16px;
  border-bottom: 2px solid #0D2344;

  @media (max-width: 600px) { 
    font-size: 16px !important;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;

  @media (max-width: 600px) { 
    grid-template-columns: 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.paragraph {
  line-height: 1.4;

  @media (max-width: 600px) { 
    font-size: 14px !important;
  }
}