.desktopNav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: end;
  width: 100%;
  gap: 64px;
}

.navLeft {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 28px;
}

.navRight {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 28px;
}

.logotypeWrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}

.logotype {
  transform: translateY(-4px);
  flex-shrink: 0;
}

.navigationButton {
  all: unset;
  color: #0D2344;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: #ef8e01;
  }
}

@media (max-width: 1048px) {
  .desktopNav {
    gap: 48px;
  }

  .navLeft,
  .navRight {
    gap: 16px;
  }
}

@media (max-width: 976px) {
  .desktopNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }

  .logotypeWrapper {
    display: none;
  }

  .navLeft,
  .navRight {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .desktopNav {
    display: none;
  }
}

