.header {
  position: fixed !important;
  display: flex;
  align-items: center;

  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  max-width: 1330px;
  height: 110px;

  margin: 0 auto;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  background: white;
  box-shadow: 0px 4px 4px 0px #00000040;

  padding: 12px 24px 36px 24px;
  z-index: 1000;
  transition: transform 0.3s ease;

  @media (min-width: 701px) {
    &.hidden {
      transform: translateX(-50%) translateY(-100%);
    }
  }

  &.open {
    @media (max-width: 700px) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 150ms ease, visibility 150ms ease, height 0ms ease, min-height 0ms ease, padding 0ms ease, margin 0ms ease;
    }
  }
}

.navigation {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.mobileNav {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 976px) {
  .header {
    height: 100px;
    padding: 12px 24px 12px 24px;
  }

  .navigation {
    gap: 16px;
  }
}

.mobileLogotype {
  flex-shrink: 0;
  margin-right: 12px;
}

@media (max-width: 700px) {
  .header {
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    padding: 16px 24px;
    height: auto;
    min-height: 80px;
    transition: opacity 300ms ease, visibility 300ms ease, height 300ms ease, min-height 300ms ease, padding 300ms ease, margin 300ms ease;
  }

  .mobileNav {
    display: flex;
  }

  .navigation {
    align-items: center;
    justify-content: space-between;
  }
}