.container {
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 25px 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;

  &:hover {
    box-shadow: 0px 5px 5px 0px #0000005f;
  }
}

.title {
  text-transform: lowercase;
}

.button {
  text-transform: uppercase;
  width: 100% !important;
  margin-top: 24px;
}