.container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.logotype {
  margin: 0 auto;
}

.contacts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 160px;
}

.column {
  display: block;
  text-align: center;
}
