/* [project]/app/components/Logotype/Logotype.module.scss.module.css [app-client] (css) */
.Logotype-module-scss-module__aJ790a__logotype {
  display: block;
}

/* [project]/app/components/Header/Header.module.scss.module.css [app-client] (css) */
.Header-module-scss-module__zB_sZa__header {
  z-index: 1000;
  background: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  align-items: center;
  width: 80%;
  max-width: 1330px;
  height: 110px;
  margin: 0 auto;
  padding: 12px 24px 36px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 4px #00000040;
}

.Header-module-scss-module__zB_sZa__navigation {
  justify-content: center;
  align-items: end;
  width: 100%;
  display: flex;
}

.Header-module-scss-module__zB_sZa__logotype {
  flex-shrink: 0;
  margin: 0 64px;
  transform: translateY(-4px);
}

.Header-module-scss-module__zB_sZa__navigationButton {
  all: unset;
  cursor: pointer;
  transition: color .2s;
}

.Header-module-scss-module__zB_sZa__navigationButton:hover {
  color: #ef8e01;
}

.Header-module-scss-module__zB_sZa__navigationButton + .Header-module-scss-module__zB_sZa__navigationButton {
  margin-left: 28px;
}

@media (max-width: 1048px) {
  .Header-module-scss-module__zB_sZa__logotype {
    margin: 0 48px;
  }

  .Header-module-scss-module__zB_sZa__navigationButton + .Header-module-scss-module__zB_sZa__navigationButton {
    margin-left: 16px;
  }
}

@media (max-width: 976px) {
  .Header-module-scss-module__zB_sZa__logotype {
    display: none;
  }
}

/* [project]/app/components/WelcomeBlock/WelcomeBlock.module.scss.module.css [app-client] (css) */
.WelcomeBlock-module-scss-module__f8hRpW__container {
  background-image: url("/WelcomeBlock/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.WelcomeBlock-module-scss-module__f8hRpW__content {
  padding-top: 320px;
}

.WelcomeBlock-module-scss-module__f8hRpW__title {
  text-transform: uppercase;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 5px 0;
}

.WelcomeBlock-module-scss-module__f8hRpW__description {
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 24px;
  font-weight: 200 !important;
}

/* [project]/app/ui/Typography/Typography.module.scss.module.css [app-client] (css) */
.Typography-module-scss-module__kgpwjG__typography {
  color: #0d2344;
  margin: 0;
  padding: 0;
}

.Typography-module-scss-module__kgpwjG__typography[data-font="primary"] {
  font-family: var(--font-unbounded, "Unbounded", sans-serif);
}

.Typography-module-scss-module__kgpwjG__typography[data-font="secondary"] {
  font-family: Gothic, Century Gothic, CenturyGothic;
}

.Typography-module-scss-module__kgpwjG__typography[data-weight="extraBold"] {
  font-weight: 800;
}

.Typography-module-scss-module__kgpwjG__typography[data-weight="medium"] {
  font-weight: 500;
}

.Typography-module-scss-module__kgpwjG__typography[data-weight="regular"] {
  font-weight: 400;
}

.Typography-module-scss-module__kgpwjG__typography[data-weight="light"] {
  font-weight: 300;
}

/* [project]/app/ui/Button/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__0_54wG__button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Button-module-scss-module__0_54wG__button[data-size="small"] {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

.Button-module-scss-module__0_54wG__button[data-size="large"] {
  padding: 16px 48px;
  font-size: 16px;
  font-weight: 600;
}

.Button-module-scss-module__0_54wG__button[data-variant="primary"] {
  color: #efeeec;
  background: #0d2344;
  transition: background .2s, box-shadow .2s, color .2s, transform .2s;
}

.Button-module-scss-module__0_54wG__button[data-variant="primary"]:hover {
  color: #0d2344;
  background: #efeeec;
  transform: translateY(-2px);
  box-shadow: 0 4px 4px #00000040;
}

.Button-module-scss-module__0_54wG__button[data-variant="outline"] {
  color: #0d2344;
  background: #fff;
}

/* [project]/app/ui/Container/Container.module.scss.module.css [app-client] (css) */
.Container-module-scss-module__6Q0sOW__container {
  max-width: 1440px;
  margin: 0 auto 150px;
  padding: 0 48px;
}

/* [project]/app/components/Category/Category.module.scss.module.css [app-client] (css) */
.Category-module-scss-module__Yx7C0G__title {
  text-transform: uppercase;
  margin-bottom: 24px;
}

.Category-module-scss-module__Yx7C0G__subtitle {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.Category-module-scss-module__Yx7C0G__blocks {
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
  display: grid;
}

/* [project]/app/components/Category/CategoryBlock/CategoryBlock.module.scss.module.css [app-client] (css) */
.CategoryBlock-module-scss-module__xgwrXq__container {
  background: #efeeec center / cover no-repeat;
  border-radius: 20px;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 24px 16px 12px;
  display: flex;
  box-shadow: 0 4px 4px #00000040;
}

.CategoryBlock-module-scss-module__xgwrXq__button {
  width: 100%;
  margin-top: auto;
}

/*# sourceMappingURL=app_884eb16e._.css.map*/