/* [project]/app/components/Logotype/Logotype.module.scss.module.css [app-client] (css) */
.Logotype-module-scss-module__aJ790a__logotype {
  display: block;
}

/* [project]/app/components/Header/HamburgerButton/HamburgerButton.module.scss.module.css [app-client] (css) */
.HamburgerButton-module-scss-module__HM1oEa__hamburgerButton {
  all: unset;
  cursor: pointer;
  z-index: 1001;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  display: flex;
}

.HamburgerButton-module-scss-module__HM1oEa__hamburgerLine {
  transform-origin: center;
  background-color: #ef8e01;
  border-radius: 2px;
  width: 24px;
  height: 3px;
  transition: all .3s;
}

.HamburgerButton-module-scss-module__HM1oEa__open .HamburgerButton-module-scss-module__HM1oEa__hamburgerLine:first-child {
  transform: translate(0, 8px)rotate(45deg);
}

.HamburgerButton-module-scss-module__HM1oEa__open .HamburgerButton-module-scss-module__HM1oEa__hamburgerLine:nth-child(2) {
  opacity: 0;
}

.HamburgerButton-module-scss-module__HM1oEa__open .HamburgerButton-module-scss-module__HM1oEa__hamburgerLine:nth-child(3) {
  transform: translate(0, -8px)rotate(-45deg);
}

/* [project]/app/components/Header/MobileMenu/MobileMenu.module.scss.module.css [app-client] (css) */
@media (min-width: 701px) {
  .MobileMenu-module-scss-module__XsUilq__backdrop {
    display: none;
  }
}

@media (max-width: 700px) {
  .MobileMenu-module-scss-module__XsUilq__backdrop {
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    background: #00000080;
    width: 100%;
    height: 100vh;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
    position: fixed;
    left: 0;
  }

  .MobileMenu-module-scss-module__XsUilq__backdrop.MobileMenu-module-scss-module__XsUilq__open {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  }

  .MobileMenu-module-scss-module__XsUilq__overlay {
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    background: #d9d9d9;
    width: 80%;
    height: 100vh;
    padding: 24px;
    transition: right .3s, opacity .3s, visibility .3s;
    position: fixed;
    right: -80%;
    overflow: auto;
  }
}

@media (max-width: 360px) {
  .MobileMenu-module-scss-module__XsUilq__overlay {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .MobileMenu-module-scss-module__XsUilq__backdrop.MobileMenu-module-scss-module__XsUilq__open .MobileMenu-module-scss-module__XsUilq__overlay {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
}

.MobileMenu-module-scss-module__XsUilq__hamburgerWrapper {
  justify-content: flex-end;
  padding: 16px 0;
  display: flex;
}

.MobileMenu-module-scss-module__XsUilq__mobileMenu {
  flex-direction: column;
  gap: 12px;
  padding: 0 24px 24px;
  display: flex;
}

.MobileMenu-module-scss-module__XsUilq__mobileLogotype {
  margin-bottom: 24px;
}

.MobileMenu-module-scss-module__XsUilq__mobileMenuButton {
  all: unset;
  color: #0d2344;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  transition: color .15s;
}

.MobileMenu-module-scss-module__XsUilq__mobileMenuButton:hover {
  color: #ef8e01;
}

.MobileMenu-module-scss-module__XsUilq__mobileMenuButton:last-child {
  border-bottom: none;
}

/* [project]/app/components/Header/DesktopNavigation/DesktopNavigation.module.scss.module.css [app-client] (css) */
.DesktopNavigation-module-scss-module__XWlbTG__desktopNav {
  grid-template-columns: 1fr auto 1fr;
  align-items: end;
  gap: 64px;
  width: 100%;
  display: grid;
}

.DesktopNavigation-module-scss-module__XWlbTG__navLeft {
  justify-content: flex-end;
  align-items: end;
  gap: 28px;
  display: flex;
}

.DesktopNavigation-module-scss-module__XWlbTG__navRight {
  justify-content: flex-start;
  align-items: end;
  gap: 28px;
  display: flex;
}

.DesktopNavigation-module-scss-module__XWlbTG__logotypeWrapper {
  justify-content: center;
  align-items: end;
  display: flex;
}

.DesktopNavigation-module-scss-module__XWlbTG__logotype {
  flex-shrink: 0;
  transform: translateY(-4px);
}

.DesktopNavigation-module-scss-module__XWlbTG__navigationButton {
  all: unset;
  color: #0d2344;
  cursor: pointer;
  font-size: 16px;
  transition: color .2s;
}

.DesktopNavigation-module-scss-module__XWlbTG__navigationButton:hover {
  color: #ef8e01;
}

@media (max-width: 1048px) {
  .DesktopNavigation-module-scss-module__XWlbTG__desktopNav {
    gap: 48px;
  }

  .DesktopNavigation-module-scss-module__XWlbTG__navLeft, .DesktopNavigation-module-scss-module__XWlbTG__navRight {
    gap: 16px;
  }
}

@media (max-width: 976px) {
  .DesktopNavigation-module-scss-module__XWlbTG__logotypeWrapper {
    display: none;
  }
}

@media (max-width: 700px) {
  .DesktopNavigation-module-scss-module__XWlbTG__desktopNav {
    display: none;
  }
}

/* [project]/app/components/Header/Header.module.scss.module.css [app-client] (css) */
.Header-module-scss-module__zB_sZa__header {
  z-index: 1000;
  background: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  align-items: center;
  width: 80%;
  max-width: 1330px;
  height: 110px;
  margin: 0 auto;
  padding: 12px 24px 36px;
  transition: transform .3s;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 4px #00000040;
  position: fixed !important;
}

@media (min-width: 701px) {
  .Header-module-scss-module__zB_sZa__header.Header-module-scss-module__zB_sZa__hidden {
    transform: translateX(-50%)translateY(-100%);
  }
}

@media (max-width: 700px) {
  .Header-module-scss-module__zB_sZa__header.Header-module-scss-module__zB_sZa__open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .15s, visibility .15s, height, min-height, padding, margin;
  }
}

.Header-module-scss-module__zB_sZa__navigation {
  justify-content: center;
  align-items: end;
  width: 100%;
  display: flex;
}

.Header-module-scss-module__zB_sZa__mobileNav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: none;
}

@media (max-width: 976px) {
  .Header-module-scss-module__zB_sZa__header {
    height: 100px;
    padding: 12px 24px;
  }

  .Header-module-scss-module__zB_sZa__navigation {
    gap: 16px;
  }
}

.Header-module-scss-module__zB_sZa__mobileLogotype {
  flex-shrink: 0;
  margin-right: 12px;
}

@media (max-width: 700px) {
  .Header-module-scss-module__zB_sZa__header {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    height: auto;
    min-height: 80px;
    padding: 16px 24px;
    transition: opacity .3s, visibility .3s, height .3s, min-height .3s, padding .3s, margin .3s;
    position: relative;
  }

  .Header-module-scss-module__zB_sZa__mobileNav {
    display: flex;
  }

  .Header-module-scss-module__zB_sZa__navigation {
    justify-content: space-between;
    align-items: center;
  }
}

/* [project]/app/components/WelcomeBlock/WelcomeBlock.module.scss.module.css [app-client] (css) */
.WelcomeBlock-module-scss-module__f8hRpW__wrapper {
  background-image: url("/WelcomeBlock/bg.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 1100px) {
  .WelcomeBlock-module-scss-module__f8hRpW__wrapper {
    background-position: right -50px;
  }
}

@media (max-width: 850px) {
  .WelcomeBlock-module-scss-module__f8hRpW__wrapper {
    background-image: url("/WelcomeBlock/bg.png");
    background-position: 100%;
  }
}

@media (max-width: 480px) {
  .WelcomeBlock-module-scss-module__f8hRpW__wrapper {
    background-image: url("/WelcomeBlock/bgmobile.png");
    background-position: 50% -50px;
    background-size: 100%;
  }
}

@media (max-width: 360px) {
  .WelcomeBlock-module-scss-module__f8hRpW__wrapper {
    background-position: 50% -15px;
  }
}

@media (max-width: 480px) {
  .WelcomeBlock-module-scss-module__f8hRpW__logotype {
    display: none;
  }
}

.WelcomeBlock-module-scss-module__f8hRpW__container[class] {
  position: 0;
  margin: 0 auto;
  padding-bottom: 130px;
}

@media (max-width: 480px) {
  .WelcomeBlock-module-scss-module__f8hRpW__container[class] {
    padding: 0 16px 60px;
  }
}

.WelcomeBlock-module-scss-module__f8hRpW__content {
  padding-top: 320px;
}

.WelcomeBlock-module-scss-module__f8hRpW__title[class] {
  text-transform: uppercase;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 5px 0;
}

@media (max-width: 480px) {
  .WelcomeBlock-module-scss-module__f8hRpW__title[class] {
    font-size: 28px !important;
  }
}

.WelcomeBlock-module-scss-module__f8hRpW__description[class] {
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 24px;
  font-weight: 200;
}

@media (max-width: 480px) {
  .WelcomeBlock-module-scss-module__f8hRpW__description[class] {
    font-size: 14px !important;
  }

  .WelcomeBlock-module-scss-module__f8hRpW__button {
    width: 100% !important;
    font-size: 14px !important;
  }
}

/* [project]/app/ui/Typography/Typography.module.scss.module.css [app-client] (css) */
.Typography-module-scss-module__kgpwjG__typography {
  color: #0d2344;
  margin: 0;
}

.Typography-module-scss-module__kgpwjG__typography[data-font="primary"] {
  font-family: var(--font-unbounded, "Unbounded", sans-serif);
}

.Typography-module-scss-module__kgpwjG__typography[data-font="secondary"] {
  font-family: Gothic, Century Gothic, CenturyGothic;
}

.Typography-module-scss-module__kgpwjG__typography[data-weight="extraBold"] {
  font-weight: 800;
}

.Typography-module-scss-module__kgpwjG__typography[data-weight="medium"] {
  font-weight: 500;
}

.Typography-module-scss-module__kgpwjG__typography[data-weight="regular"] {
  font-weight: 400;
}

.Typography-module-scss-module__kgpwjG__typography[data-weight="light"] {
  font-weight: 300;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="64"] {
  font-size: 64px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="48"] {
  font-size: 48px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="28"] {
  font-size: 28px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="24"] {
  font-size: 24px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="22"] {
  font-size: 22px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="20"] {
  font-size: 20px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="18"] {
  font-size: 18px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="16"] {
  font-size: 16px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="14"] {
  font-size: 14px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="12"] {
  font-size: 12px;
}

.Typography-module-scss-module__kgpwjG__typography[data-size="10"] {
  font-size: 10px;
}

/* [project]/app/ui/Button/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__0_54wG__button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Button-module-scss-module__0_54wG__button[data-size="small"] {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

.Button-module-scss-module__0_54wG__button[data-size="large"] {
  padding: 16px 48px;
  font-size: 16px;
  font-weight: 600;
}

.Button-module-scss-module__0_54wG__button[data-variant="primary"] {
  color: #efeeec;
  background: #0d2344;
  transition: background .2s, box-shadow .2s, color .2s, transform .2s;
}

@media (hover: hover) {
  .Button-module-scss-module__0_54wG__button[data-variant="primary"]:hover {
    color: #0d2344;
    background: #efeeec;
    transform: translateY(-2px);
    box-shadow: 0 4px 4px #00000040;
  }
}

.Button-module-scss-module__0_54wG__button[data-variant="primary"]:active {
  transform: translateY(0);
}

.Button-module-scss-module__0_54wG__button[data-variant="outline"] {
  color: #0d2344;
  background: none;
  border: 2px solid #0d2344;
  transition: background .15s, color .15s;
}

@media (hover: hover) {
  .Button-module-scss-module__0_54wG__button[data-variant="outline"]:hover {
    color: #efeeec;
    background: #0d2344;
  }
}

/* [project]/app/ui/Container/Container.module.scss.module.css [app-client] (css) */
.Container-module-scss-module__6Q0sOW__container {
  max-width: 1440px;
  margin: 0 auto 150px;
  padding: 0 48px;
}

@media (max-width: 600px) {
  .Container-module-scss-module__6Q0sOW__container {
    margin: 0 auto 60px;
    padding: 0 16px;
  }
}

/* [project]/app/components/AboutCompany/AboutCompany.module.scss.module.css [app-client] (css) */
.AboutCompany-module-scss-module__AlJyuq__title {
  margin: 8px 0 50px;
}

@media (max-width: 600px) {
  .AboutCompany-module-scss-module__AlJyuq__title {
    margin: 8px 0 24px;
    font-size: 30px !important;
  }

  .AboutCompany-module-scss-module__AlJyuq__logotype {
    width: 137px;
    height: 27px;
  }
}

.AboutCompany-module-scss-module__AlJyuq__description {
  border-bottom: 2px solid #0d2344;
  margin-bottom: 16px;
  padding-bottom: 24px;
}

@media (max-width: 600px) {
  .AboutCompany-module-scss-module__AlJyuq__description {
    font-size: 16px !important;
  }
}

.AboutCompany-module-scss-module__AlJyuq__content {
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  display: grid;
}

@media (max-width: 600px) {
  .AboutCompany-module-scss-module__AlJyuq__content {
    grid-template-columns: 1fr;
  }
}

.AboutCompany-module-scss-module__AlJyuq__column {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.AboutCompany-module-scss-module__AlJyuq__paragraph {
  line-height: 1.4;
}

@media (max-width: 600px) {
  .AboutCompany-module-scss-module__AlJyuq__paragraph {
    font-size: 14px !important;
  }
}

/* [project]/app/components/Contacts/Contacts.module.scss.module.css [app-client] (css) */
.Contacts-module-scss-module__oopWZa__container {
  flex-direction: column;
  align-items: center;
  gap: 60px;
  display: flex;
}

.Contacts-module-scss-module__oopWZa__logotype {
  width: 560px;
  height: 235px;
  margin: 0 auto;
  transition: width .3s, height .3s;
}

@media (max-width: 1200px) {
  .Contacts-module-scss-module__oopWZa__logotype {
    width: 480px;
    height: 202px;
  }
}

@media (max-width: 992px) {
  .Contacts-module-scss-module__oopWZa__logotype {
    width: 400px;
    height: 168px;
  }
}

@media (max-width: 768px) {
  .Contacts-module-scss-module__oopWZa__logotype {
    width: 320px;
    height: 135px;
  }
}

@media (max-width: 576px) {
  .Contacts-module-scss-module__oopWZa__logotype {
    width: 280px;
    height: 118px;
  }
}

@media (max-width: 480px) {
  .Contacts-module-scss-module__oopWZa__logotype {
    width: 250px;
    height: 105px;
  }
}

@media (max-width: 375px) {
  .Contacts-module-scss-module__oopWZa__logotype {
    width: 220px;
    height: 93px;
  }
}

.Contacts-module-scss-module__oopWZa__contacts {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  display: grid;
}

@media (max-width: 880px) {
  .Contacts-module-scss-module__oopWZa__contacts {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.Contacts-module-scss-module__oopWZa__column {
  text-align: center;
}

@media (max-width: 600px) {
  .Contacts-module-scss-module__oopWZa__contact {
    font-size: 14px !important;
  }
}

/* [project]/app/components/Category/Category.module.scss.module.css [app-client] (css) */
.Category-module-scss-module__Yx7C0G__title {
  text-transform: uppercase;
  white-space: pre-line;
  margin-bottom: 24px;
}

@media (max-width: 600px) {
  .Category-module-scss-module__Yx7C0G__title {
    font-size: 24px !important;
  }
}

.Category-module-scss-module__Yx7C0G__subtitle {
  text-transform: uppercase;
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .Category-module-scss-module__Yx7C0G__subtitle {
    font-size: 16px !important;
  }
}

.Category-module-scss-module__Yx7C0G__blocks {
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  display: grid;
}

@media (max-width: 1200px) {
  .Category-module-scss-module__Yx7C0G__blocks {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .Category-module-scss-module__Yx7C0G__blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Category-module-scss-module__Yx7C0G__blockWrapper {
  opacity: 1;
  transition: opacity .4s, transform .4s;
  transform: translateY(0);
}

.Category-module-scss-module__Yx7C0G__newBlock {
  opacity: 0;
  animation: .5s forwards Category-module-scss-module__Yx7C0G__fadeInUp;
  transform: translateY(20px);
}

.Category-module-scss-module__Yx7C0G__newBlock:nth-child(n) {
  animation-delay: calc(var(--index, 0) * 50ms);
}

.Category-module-scss-module__Yx7C0G__closingBlock {
  animation: .5s forwards Category-module-scss-module__Yx7C0G__fadeOutDown;
}

.Category-module-scss-module__Yx7C0G__closingBlock:nth-child(n) {
  animation-delay: calc(var(--index, 0) * 50ms);
}

@keyframes Category-module-scss-module__Yx7C0G__fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Category-module-scss-module__Yx7C0G__fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.Category-module-scss-module__Yx7C0G__buttonWrapper {
  justify-content: center;
  margin-top: 40px;
  display: flex;
}

.Category-module-scss-module__Yx7C0G__toggleButton {
  min-width: 200px;
}

/* [project]/app/components/Category/Product/Product.module.scss.module.css [app-client] (css) */
.Product-module-scss-module__Yy8vKq__container {
  background: #efeeec;
  border-radius: 20px;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 24px 16px 12px;
  transition: box-shadow .15s;
  display: flex;
  box-shadow: 0 4px 4px #00000040;
}

.Product-module-scss-module__Yy8vKq__container:hover {
  box-shadow: 0 5px 5px #0000005f;
}

.Product-module-scss-module__Yy8vKq__image {
  aspect-ratio: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 12px;
  width: 100%;
}

.Product-module-scss-module__Yy8vKq__button {
  width: 100%;
  margin-top: auto;
}

@media (max-width: 576px) {
  .Product-module-scss-module__Yy8vKq__article {
    font-size: 12px !important;
  }

  .Product-module-scss-module__Yy8vKq__button {
    padding: 2px 0 !important;
  }
}

/* [project]/app/components/Catalog/Catalog.module.scss.module.css [app-client] (css) */
.Catalog-module-scss-module__McrRkq__title {
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media (max-width: 700px) {
  .Catalog-module-scss-module__McrRkq__title {
    font-size: 30px !important;
  }
}

.Catalog-module-scss-module__McrRkq__blocks {
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  display: grid;
}

@media (max-width: 1400px) {
  .Catalog-module-scss-module__McrRkq__blocks {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1100px) {
  .Catalog-module-scss-module__McrRkq__blocks {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .Catalog-module-scss-module__McrRkq__blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .Catalog-module-scss-module__McrRkq__blocks {
    flex-direction: column;
    gap: 16px;
    display: flex;
  }

  .Catalog-module-scss-module__McrRkq__row {
    -webkit-overflow-scrolling: touch;
    gap: 16px;
    display: flex;
    overflow: auto hidden;
  }

  .Catalog-module-scss-module__McrRkq__row > * {
    flex-shrink: 0;
    width: calc(50vw - 24px);
    min-width: 250px;
  }

  .Catalog-module-scss-module__McrRkq__row::-webkit-scrollbar {
    height: 8px;
  }

  .Catalog-module-scss-module__McrRkq__row::-webkit-scrollbar-track {
    background: none;
  }

  .Catalog-module-scss-module__McrRkq__row::-webkit-scrollbar-thumb {
    background: #0003;
    border-radius: 4px;
  }
}

/* [project]/app/components/Catalog/CatalogBlock/CatalogBlock.module.scss.module.css [app-client] (css) */
.CatalogBlock-module-scss-module__d8meOW__container {
  aspect-ratio: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  padding: 25px 20px;
  transition: box-shadow .15s;
  box-shadow: 0 4px 4px #00000040;
}

.CatalogBlock-module-scss-module__d8meOW__container:hover {
  box-shadow: 0 5px 5px #0000005f;
}

.CatalogBlock-module-scss-module__d8meOW__title {
  text-transform: lowercase;
}

.CatalogBlock-module-scss-module__d8meOW__button {
  text-transform: uppercase;
  margin-top: 24px;
  width: 100% !important;
}

/*# sourceMappingURL=app_75fc1022._.css.map*/