.button {
  all: unset;
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  
  cursor: pointer;
}

.button[data-size="small"] {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

.button[data-size="large"] {
  padding: 16px 48px;
  font-size: 16px;
  font-weight: 600;
}

.button[data-variant="primary"] {
  background: #0D2344;
  color: #EFEEEC;
  transition: background 0.2s ease, box-shadow 0.2s ease, color 0.2s ease, transform 0.2s ease;

  &:hover {
    background: #EFEEEC;
    color: #0D2344;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: translateY(-2px);
  }
}

.button[data-variant="outline"] {
  background: white;
  color: #0d2344;
}