.button {
  all: unset;
}

.button {
  padding: 16px 48px;
  border-radius: 16px;

  font-size: 16px;
  font-weight: 600;
  
  cursor: pointer;
}

.button[data-variant="primary"] {
  background: #0D2344;
  color: #EFEEEC;
  transition: background 0.2s ease, box-shadow 0.2s ease, color 0.2s ease, transform 0.2s ease;

  &:hover {
    background: #EFEEEC;
    color: #0D2344;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: translateY(-2px);
  }
}

.button[data-variant="outline"] {
  background: white;
  color: #0d2344;
}