.backdrop {
  @media (min-width: 701px) {
    display: none;
  }

  @media (max-width: 700px) {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;

    &.open {
      opacity: 1;
      visibility: visible;
      transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
    }
  }
}

.overlay {
  @media (max-width: 700px) {
    position: fixed;
    right: -80%;
    width: 80%;
    height: 100vh;
    padding: 24px;
    background: #D9D9D9;
    z-index: 10000;

    transition: right 300ms ease, opacity 300ms, visibility 300ms;

    opacity: 0;
    visibility: hidden;
    overflow: auto;
  }

  @media (max-width: 360px) {
    width: 100%;
  }
}

.backdrop.open .overlay {
  @media (max-width: 700px) {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

.hamburgerWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 24px 24px;
}

.mobileLogotype {
  margin-bottom: 24px;
}

.mobileMenuButton {
  all: unset;
  color: #0D2344;
  font-size: 20px;
  cursor: pointer;
  text-align: left;
  transition: color 0.15s ease;

  &:hover {
    color: #ef8e01;
  }

  &:last-child {
    border-bottom: none;
  }
}
