@font-face {
  font-family: "Gothic";
  src: url("/font/GOTHIC.TTF");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gothic";
  src: url("/font/GOTHICB.TTF");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gothic";
  src: url("/font/GOTHICBI.TTF");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gothic";
  src: url("/font/GOTHICI.TTF");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #EFEEEC;
}

* {
  font-family: "Unbounded", sans-serif;
  box-sizing: border-box;
}