.title {
  margin: 6px 0 50px 0;
}

.description {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 2px solid #0D2344;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.paragraph {
  line-height: 1.4;
}