.typography {
  color: #0d2344;
  margin: 0;
}

.typography[data-font="primary"] {
  font-family: var(--font-unbounded, "Unbounded", sans-serif);
}

.typography[data-font="secondary"] {
  font-family: "Gothic", "Century Gothic", "CenturyGothic";
}

.typography[data-weight="extraBold"] {
  font-weight: 800;
}

.typography[data-weight="medium"] {
  font-weight: 500;
}

.typography[data-weight="regular"] {
  font-weight: 400;
}

.typography[data-weight="light"] {
  font-weight: 300;
}

.typography[data-size="64"] {
  font-size: 64px;
}

.typography[data-size="48"] {
  font-size: 48px;
}

.typography[data-size="28"] {
  font-size: 28px;
}

.typography[data-size="24"] {
  font-size: 24px;
}

.typography[data-size="22"] {
  font-size: 22px;
}

.typography[data-size="20"] {
  font-size: 20px;
}

.typography[data-size="18"] {
  font-size: 18px;
}

.typography[data-size="16"] {
  font-size: 16px;
}

.typography[data-size="14"] {
  font-size: 14px;
}

.typography[data-size="12"] {
  font-size: 12px;
}

.typography[data-size="10"] {
  font-size: 10px;
}
